<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Yandex Home Widgets</Name>
    <Version>1.0.0</Version>
    <Title>Yandex Home Widgets</Title>
    <Publisher>Artem Yagodnik</Publisher>
    <StartMenuDir>Yandex Home Widgets</StartMenuDir>
    <TargetDir>@HomeDir@/YandexHomeWidgets</TargetDir>
    <WizardStyle>Classic</WizardStyle>
    <WizardShowPageList>false</WizardShowPageList>
    <WizardDefaultWidth>600</WizardDefaultWidth>
    <WizardDefaultHeight>600</WizardDefaultHeight>
</Installer>